* {
    text-decoration: none;
    list-style-type: none;
    margin         : 0px;
    padding        : 0px;
    outline        : none;
}

html {
    height: 100%;
}

body {
    height          : 100%;
    margin          : 0px;
    padding         : 0px;
    font-family     : 'Open Sans', sans-serif;
    background-color: #f9f9f9;
}

.container {
    display       : flex;
    flex-direction: column;
    min-height    : 100vh;
}

section {
    width    : 100%;
    max-width: 1200px;
    margin   : 0px auto;
    display  : table;
    position : relative;
}

header {
    width        : 100%;
    display      : table;
    margin-bottom: 10px;
    flex         : 0 0 auto;
    border-bottom: 1px solid lightgray;
}

#logo {
    float      : left;
    font-size  : 24px;
    color      : #f0780b;
    font-weight: 600;
    padding    : 20px 0px;
}

nav {
    width: auto;
    float: right;
}

nav ul {
    display: table;
    float  : right;
}

nav ul li {
    float: left;
}

nav ul li:last-child {
    padding-right: 0px;
}

nav ul li a {
    color     : #0c0507;
    font-size : 18px;
    padding   : 25px 20px;
    display   : inline-block;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover {
    background-color: #f5851f;
    color           : #f9f9f9;
    transition      : all 0.5s ease 0s;
}

nav ul li a:hover i {
    color     : #f9f9f9;
    transition: all 0.5s ease 0s;
}

nav ul li a i {
    padding-right: 10px;
    color        : #0c0507;
    transition   : all 0.5s ease 0s;
}

.toggle-menu ul {
    display: table;
    width  : 25px;
}

.toggle-menu ul li {
    width           : 100%;
    height          : 3px;
    background-color: #0c0507;
    margin-bottom   : 4px;
}

.toggle-menu ul li:last-child {
    margin-bottom: 0px;
}

input[type=checkbox], label {
    display: none;
}

main {
    flex: 1;
}

.about-content {
    margin    : 0px auto 40px auto;
    display   : table;
    padding   : 10px;
    text-align: center;
}

@keyframes typing {
    from {
        width: 0;
    }
}

#motto {
    font-weight  : bold;
    font-size    : 24px;
    width        : 20ch;
    margin       : 2em 1em;
    white-space  : nowrap;
    overflow     : hidden;
    border-bottom: 2px solid black;
    animation    : typing 2s steps(20, end);
}

#description {
    font-size: 24px;
    font-size: bold;
    padding  : 10px;
}

#description strong {
    color: #f0780b;
}

#sign-in, #sign-up {
    padding: 10px;
}

.form-control {
    position  : relative;
    z-index   : 1;
    background: #ffffff;
    max-width : 360px;
    margin    : 30px auto 100px;
    padding   : 45px;
    text-align: center;
    box-shadow: 0 0 3px rgba(35, 0, 0, 0.1);
    border-top: 4px solid #f0780b;
}

.form-control button {
    text-transform: uppercase;
    outline       : 0;
    background    : #f0780b;
    width         : 100%;
    border        : 0;
    padding       : 15px;
    color         : #ebf0f6;
    font-size     : 16px;
    cursor        : pointer;
}

.form-control .message {
    margin   : 15px 0 0;
    color    : #232323;
    font-size: 16px;
}

.form-control .message a {
    color          : #f5851f;
    text-decoration: none;
}

#form-description {
    color      : #0c0507;
    padding    : 10px;
    font-weight: 800;
    font-size  : 24px;
}

.user-details-input {
    outline   : 0;
    background: #232323;
    width     : 100%;
    border    : 0;
    margin    : 0 0 15px;
    padding   : 15px;
    box-sizing: border-box;
    font-size : 16px;
    color     : #ffffff;
}

.meetup-timeline, .user-profile-container, .create-meetup-container {
    margin        : 0 auto;
    padding       : 10px;
    width         : 60%;
    display       : flex;
    flex-direction: column;
}

.meetup-search-container {
    width        : 60%;
    margin-bottom: 20px;
}

.meetup-search-details {
    width   : 100%;
    position: relative;
}

.meetup-search {
    float    : left;
    width    : 100%;
    border   : 3px solid #f0780b;
    padding  : 5px;
    height   : 20px;
    outline  : none;
    color    : black;
    font-size: 14px;
}

.meetup-search-btn {
    position  : absolute;
    right     : -50px;
    width     : 40px;
    height    : 36px;
    border    : 1px solid #f0780b;
    background: #f0780b;
    text-align: center;
    color     : #fff;
    cursor    : pointer;
    font-size : 20px;
}

.meetup-feed {
    margin-top: 20px;
    padding   : 10px;
}

.meetup-post, .create-meetup-details {
    width           : 80%;
    background-color: #ffffff;
    box-shadow      : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.meetup-topic {
    margin-top: 10px
}

.meetup-topic p {
    font-weight  : 900;
    font-size    : 18px;
    border-bottom: 1px solid black;
    color        : #0c0507;
}
.meetup-date-time, .meetup-location {
    margin-top: 20px;
}

.meetup-date-time p {
    color: #585b60;
}

.meetup-location p {
    color      : #f0780b;
    font-style : italic;
    font-weight: 700;
}

.meetup-details {
    padding-top: 10px;
}

.question-label {
    margin-top   : 30px;
    margin-bottom: 20px;
    border-bottom: 4px solid black;
    color        : #f0780b;
    width        : 40%;
    padding      : 5px;
    font-weight  : 700;
}

#toolbar{
    padding         : 10px 20px;
    background-color: #f0780b;
}

#toolbar button{
    border          : 1px solid transparent;
    font-size       : 18px;
    cursor          : pointer;
    padding         : 5px 10px;
    background-color: transparent;
}

#toolbar button:hover{
    border: 1px solid #ffffff;
}

#editor{
    border : 1px solid #000;
    padding: 20px;
}

.question-submit button {
    display        : inline-block;
    border         : none;
    padding        : 1rem 2rem;
    margin-top     : 10px ;
    text-decoration: none;
    background     : #f0780b;
    color          : #ffffff;
    font-size      : 1rem;
    line-height    : 1;
    cursor         : pointer;
    text-align     : center;
    box-shadow     : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.question-detail {
    padding         : 20px;
    margin-bottom   : 20px;
    background-color: #ffffff;
    box-shadow      : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition      : all 0.3s cubic-bezier(.25,.8,.25,1);
}

.question-detail:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.question-description {
    overflow-wrap: break-word;
}

.upvote-downvote-container {
    display       : flex;
    flex-direction: row;
    margin-top    : 10px;
}

.upvote-downvote-container button {
    padding    : 5px;
    border     : none;
    font-weight: 900;
    border     : 1px solid black;
}

.upvote-downvote-container button:hover {
    background-color: #f0780b;
}

.upvote-downvote-container button i {
    padding-right: 2px;
}

.downvote {
    margin-left: 5px;
}

.comments {
    border-top: 1px solid gray;
}

.comments p {
    color: gray;
}

.username {
    color      : black;
    font-weight: 700;
}

.comments, .question-comment-container {
    margin-top : 10px;
    padding-top: 5px;
}

.add-comment-btn {
    margin-bottom   : 5px;
    border          : none;
    padding         : 5px;
    background-color: #f9f9f9;
    text-transform  : uppercase;
    color           : #f0780b;
    font-weight     : 800;
    border          : 1px solid black;
}

.add-comment-btn:hover {
    border: 2px solid black;
}

.comment-post {
    display: none;
}

.comment-textarea, .meetup-create-textarea {
    border : 3px solid #cccccc;
    padding: 5px;
    resize : vertical;
}

.comment-textarea {
    width: 90%;
}

.comment-btn {
    padding    : 2px;
    font-weight: 700;
}

.user-profile-details {
    display        : flex;
    flex-direction : row;
    padding        : 10px;
    justify-content: space-between;
}

.user-profile-name {
    display      : flex;
    align-items  : center;
    font-weight  : 900;
    font-size    : 18px;
    border-bottom: 1px solid #f0780b;
}

.posted-questions, .commeted-questions {
    background-color: #f0780b;
    padding         : 10px;
    width           : 15%;
    box-shadow      : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-weight     : 700;
}

.question-count {
    color: #ffffff;
}

.question-feed-label {
    border-bottom: 4px solid #f0780b;
    margin       : 10px 0 20px 0px;
    padding      : 5px;
    font-weight  : 700;
    font-style   : italic;
}

.vote-count {
    width: 10%;
}

.create-meetup-label {
    text-align : center;
    margin-top : 20px;
    font-style : italic;
    font-size  : 24px;
    font-weight: 700;
    color      : #f0780b;
}

.create-meetup-form {
    display       : flex;
    flex-direction: column;
    padding       : 20px;
}

.meetup-topic-input, .meetup-create-textarea, .meetup-date-input, .meetup-create-btn, .meetup-location-input {
    margin-top: 10px;
    font-size : 18px;
}

.meetup-topic-input, .meetup-location-input {
    border-radius: 0;
    border-style : none;
    border-bottom: 1px solid gray;
    margin       : 10px 0px 5px 0px;
}

.meetup-create-textarea {
    height     : 100px;
    line-height: 1.4em;
}

[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.meetup-date-input, #meetup-time {
    border          : 1px solid gray;
    background-color: #fff;
    padding         : 5px;
    width           : 190px;
}

#meetup-date-label, #meetup-time-label {
    display    : block;
    margin-top : 5px;
    font-weight: 700;
    font-style : italic;
    color      : #f0780b;
}

#meetup-time {
    margin-top: 10px;
    font-size : 18px;
}

.meetup-create-btn, .meetup-delete-btn, .meetup-join-btn {
    width           : 100px;
    background-color: #f0780b;
    color           : white;
    border-style    : none;
    padding         : 5px;
    box-shadow      : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dashboard-container {
    margin: 20px 20px 20px 120px;
}

.meetup-info {
    background   : #fff;
    border-radius: 2px;
    display      : inline-block;
    height       : 200px;
    margin       : 1rem;
    position     : relative;
    width        : 300px;
    padding      : 20px 10px 20px 10px;
    box-shadow   : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow-wrap: break-word;
    overflow     : hidden;
}

.meetup-delete-btn {
    position: absolute;
    bottom  : 10px;
    left    : 10px;
}

.meetup-delete-btn:hover, .meetup-join-btn:hover {
    color      : black;
    font-weight: bold;
}

.meetup-join-btn {
    margin-top: 10px;
}

.modal {
    border          : 2px solid black;
    position        : fixed;
    z-index         : 1;
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity         : 0;
    visibility      : hidden;
    transform       : scale(1.1);
    transition      : visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    background-color: #f9f9f9;
    padding         : 1rem 1.5rem;
    width           : 24rem;
    border-radius   : 0.5rem;
}

.close-display {
    float           : right;
    width           : 1.5rem;
    line-height     : 1.5rem;
    text-align      : center;
    cursor          : pointer;
    border-radius   : 0.25rem;
    background-color: lightgray;
}

.close-display:hover {
    background-color: darkgray;
}

.show-modal {
    opacity   : 1;
    visibility: visible;
    transform : scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-display {
    font-size: 24px;
    color    : #f5851f;
}

.meetup-id-display {
    display: none;
}

footer {
    display         : table;
    padding-top     : 10px;
    padding-bottom  : 30px;
    margin-top      : 40px;
    width           : 100%;
    background-color: #f5851f;
    flex            : 0 0 auto;
}

.social-media {
    margin : 0px auto;
    display: table;
}

.social-media li {
    float  : left;
    padding: 0px 20px;
}

.social-media li a {
    color     : #0c0507;
    transition: all 0.5s ease 0s;
    font-size : 30px;
}

.social-media li a:hover {
    color     : #f9f9f9;
    transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 1400px) {
    section {
        max-width: 95%;
    }
}

@media only screen and (max-width: 980px) {
    header {
        padding: 20px 0px;
    }

    #logo {
        padding: 0px;
    }

    input[type=checkbox] {
        position  : absolute;
        background: none;
    }

    input[type=checkbox]:focus {
        background: none;
    }

    label {
        float  : right;
        padding: 8px 0px;
        display: inline-block;
        cursor : pointer;
    }

    input[type=checkbox]:checked ~ nav {
        display: block;
    }

    nav {
        display         : none;
        position        : absolute;
        right           : 0px;
        top             : 58px;
        background-color: #0c0507;
        padding         : 0px;
        z-index         : 99;
    }

    nav ul {
        width: auto;
    }

    nav ul li {
        float  : none;
        padding: 0px;
        width  : 100%;
        display: table;
    }

    nav ul li a {
        color        : #f9f9f9;
        font-size    : 15px;
        padding      : 10px 20px;
        display      : block;
        border-bottom: 1px solid #364e68;
    }

    nav ul li a i {
        color        : #f9f9f9;
        padding-right: 15px;
    }

    .meetup-timeline, .user-profile-container, .create-meetup-container {
        width: 90%;
    }

    .posted-questions, .commeted-questions {
        width: 30%;
    }

    .vote-count {
        width: 20%;
    }

    .dashboard-container {
        margin: 10px;
    }

    .modal-content {
        width: 18rem;
    }
}
